{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container" style="height: 100vh;">
    <div class="row">
        <h1>{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputUsername4" class="form-label">Email</label>
                    <input id="inputUsername4" class="form-control input" type="email" name="email" />
                    <span >{{ form.email.errors }}</span>
                </div>        
                <input class="primary-btn col-md-6" style="margin-bottom: 10px;" type="submit" value="{% trans 'Reset My Password' %}" />
            </div>
        </form>

        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
</div>
{% endblock %}
