{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            <div class="col-md-6">
            <div class="form-group">
                <label for="inputPassword4" class="form-label">Password</label>
                <input id="inputPassword4" class="form-control input" type="password" name="password1"/>
                <span >{{ form.password1.errors }}</span>
            </div>

            <div class="form-group">
                <label for="inputPassword4" class="form-label">Confirm Password</label>
                <input id="inputPassword4" class="form-control input" type="password" name="password2"/>
                <span >{{ form.password2.errors }}</span>
            </div>            
            <input class="primary-btn col-md-6" style="margin-bottom: 20px;" type="submit" name="action" value="{% trans 'change password' %}"/>
        </div>
        </form>
    {% endif %}
</div>
{% endblock %}
